<div class="header">
    <ul class="layui-nav layui-bg-green" lay-filter="">
        <li class="layui-nav-item" style="line-height: 30px;">
            <a href="/">Capital Normal University</a>
        </li>
    </ul>

    <ul class="layui-nav layui-bg-white" lay-filter="">
        <li class="layui-nav-item">
            <a href="/">
                AikenNLP
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="#"><i class="layui-icon layui-icon-search"></i></a>
        </li>
    </ul>
</div>