<div class="sidebar">
    <ul class="layui-nav layui-nav-tree layui-nav-side layui-bg-side">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-edit"></i> Text Generation</a>
            <dl class="layui-nav-child">
                <dd><a href="">Long text generation</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-template-1"></i> Metaphor Detection</a>
            <dl class="layui-nav-child">
                <!-- <dd><a href=""></a></dd> -->
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-app"></i> Others</a>
            <dl class="layui-nav-child">
                <dd><a href="">Masked language modeling</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-note"></i> About</b></a>
            <dl class="layui-nav-child">
                <dd><a href="">About the website</a></dd>
                <dd><a href="">About the author</a></dd>
            </dl>
        </li>
    </ul>
</div>