<div class="sidebar">
    <ul class="layui-nav layui-nav-tree layui-nav-side layui-bg-side">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-edit"></i> Text Generation</a>
            <dl class="layui-nav-child">
                <dd class="layui-this"><a href="/tg/writeai" target="bodyframe">Long text generation (writeai)</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-template-1"></i> Metaphor Problems</a>
            <dl class="layui-nav-child">
                <dd><a href="/metaphor/interpretation" target="bodyframe">Metaphor Interpretation</a></dd>
                <dd><a href="/metaphor/generation" target="bodyframe">Metaphor Generation</a></dd>
                <dd><a href="/metaphor/simile" target="bodyframe">Simile Extraction</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-app"></i> Others</a>
            <dl class="layui-nav-child">
                <dd><a href="/others/maskedlm" target="bodyframe">Masked language modeling</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-note"></i> About</b></a>
            <dl class="layui-nav-child">
                <dd><a href="/about/website" target="bodyframe">About the website</a></dd>
                <dd><a href="/about/author" target="bodyframe">About the author</a></dd>
            </dl>
        </li>
    </ul>
</div>