<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static '/layui/css/layui.css' %}">
    <style>
        a {
            color: #01AAED;
        }

        .layui-card {
            margin: 50px 30px;
        }

        li {
            /* list-style: inherit; */
            line-height: 30px;
        }
    </style>
</head>

<body>
    <div class="layui-card">
        <div class="layui-card-body">
            <ul>
                <li>
                    <a href="http://www.cnu.edu.cn/"><b>学校:</b> 首都师范大学（Capital Normal University）</a>
                </li>
                <li>
                    <a href="mailto:ybqu@cnu.edu.cn"><b>邮箱:</b> ybqu@cnu.edu.cn</a>
                </li>
                <li>
                    <a href="https://github.com/ybqu"><b>GitHub:</b> https://github.com/ybqu</a>
                </li>
                <li>
                    <a href="javascript:;">&copy;2020. CNU. QUXIANSEN</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>