<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static '/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static '/css/generation.css' %}">
</head>

<body>
    <div class="generation-header">
        <h1>Metaphor Generation</h1>
        <p>隐喻生成 -- </p>
    </div>
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">Demo</li>
            <li>Core code</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <h2 style="height: 50px; margin: 15px; line-height: 50px;">Input Words:</h2>
                <form class="layui-form" action="">
                    {% csrf_token %}
                    <div class="layui-form-item">
                        <label class="layui-form-label"><b>Target:</b></label>
                        <div class="layui-input-inline">
                            <select name="target" lay-search required lay-verify="required">
                                <option value="">梦想</option>
                                {% for target in targets %}
                                <option value={{ target }}>{{ target }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="layui-form-label"><b>Attribute:</b></label>
                        <div class="layui-input-inline">
                            <select name="attribution" lay-search required lay-verify="required">
                                <option value="">发光</option>
                                {% for attr in attributions %}
                                <option value={{ attr }}>{{ attr }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="layui-inout-inline">
                            <button class="layui-btn" lay-submit="" lay-filter="generation"><b>Generate</b></button>
                        </div>
                    </div>
                </form>
                <div class="layui-card">
                    <div class="layui-card-header">
                        <h2>Generated Metaphor Sentences</h2>
                        <span> -- Here are the top 20 predictions</span>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="tab-generation"></table>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">代码展示</div>
        </div>
    </div>

    <script src="{% static '/layui/layui.js' %}"></script>

    <script>
        layui.use(['form', 'element', 'table'], function () {
            var form = layui.form
                , element = layui.element
                , $ = layui.$
                , table = layui.table

            form.render()

            table.render({
                elem: '#tab-generation'
                , id: 'generation'
                , skin: 'line'
                , even: true
                , cols: [[
                    { type: 'numbers' }
                    , { field: 'target', title: 'Target', minWidth: 80 }
                    , { field: 'attribution', title: 'Attribution', minWidth: 80 }
                    , { field: 'source', title: 'Source', minWidth: 80 }
                    , { field: 'sentences', title: 'Metaphor Sentences' }
                ]]
            })

            form.on('submit(generation)', function (data) {
                // var index = layer.load(2)
                table.reload('generation', {
                    url: '/metaphor/generation/'
                    , method: 'post'
                    , where: data.field
                })
                // layer.close(index)
                return false
            })
        })
    </script>
</body>

</html>