<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static '/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static '/css/simile.css' %}">
</head>

<body>
    <div class="simile-header">
        <h1>Simile Components Extraction</h1>
        <p>明喻提取 -- </p>
    </div>
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">Demo</li>
            <li>Core code</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <h2 style="height: 50px; margin: 15px; line-height: 50px;">Input Sentence:</h2>
                <form class="layui-form" action="">
                    {% csrf_token %}
                    <div class="layui-form-item">
                        <div class="layui-input-inline" style="width: 700px;padding-left:50px" ;>
                            <select name="sentence" lay-search required lay-verify="required">
                                <option value="">秋风吹过的稻子就像大海一样连绵起伏。</option>
                                {% for sen in sentences %}
                                <option value={{ sen }}>{{ sen }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="layui-inout-inline">
                            <button class="layui-btn" lay-submit="" lay-filter="extract"><b>Extract</b></button>
                        </div>
                    </div>
                </form>
                <div class="layui-card">
                    <div class="layui-card-header">
                        <h2>Extracted Simile Components</h2>
                        <span> -- Here are simile components</span>
                    </div>
                    <div class="layui-card-body simile-show" id="">
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">代码展示</div>
        </div>
    </div>

    <script src="{% static '/layui/layui.js' %}"></script>

    <script>
        layui.use(['form', 'element', 'table'], function () {
            var form = layui.form
                , element = layui.element
                , $ = layui.$
                , table = layui.table

            form.render()

            form.on('submit(extract)', function (data) {
                var index = layer.load(2)
                $.ajax({
                    url: '/metaphor/simile/',
                    type: 'POST',
                    data: data.field,
                    dataType: 'json',
                    success: (result) => {
                        console.log(JSON.stringify(result.data))
                        if (result.code === 0) {
                            $('.simile-show').empty()
                            innerHtml = getInnerHtml(result.data)
                            $('.simile-show').append(innerHtml)
                        }
                        layer.close(index)
                    }
                })
                return false
            })

            window.getInnerHtml = function (data) {
                sentence = data.sentence // 句子
                delete data.sentence

                var words = new Array() // 目标词
                var vocab = new Array() // 目标词: 标签
                var index = new Array() // 目标词划分
                var subsens = new Array() // 划分后的句子

                for (k in data) {
                    words = words.concat(data[k])

                    for (w in data[k]) {
                        vocab[data[k][w]] = k
                    }
                }

                index.push(0)
                for (w in words) {
                    index.push(sentence.indexOf(words[w]))
                    index.push(sentence.indexOf(words[w]) + words[w].length)
                }
                index.push(sentence.length)

                index = index.sort((a, b) => {
                    return a - b
                })

                for (var i = 0; i < index.length - 1; i++) {
                    s = sentence.substring(index[i], index[i + 1])
                    if (vocab[s] == undefined) {
                        subsens[s] = 'non-metaphor'
                    } else {
                        subsens[s] = vocab[s]
                    }
                }

                innerHtmlSen = `<table><tr>`
                innerHtmlLabel = `<tr>`
                for (s in subsens) {
                    if (subsens[s] == 'non-metaphor') {
                        innerHtmlSen += `<td class="${subsens[s]}">${s}</td>`
                        innerHtmlLabel += `<td></td>`
                    } else {
                        innerHtmlSen += `<td class="${subsens[s]} labels"><b>${s}</b></td>`
                        innerHtmlLabel += `<td class="${subsens[s]}"><b>${subsens[s]}</b></td>`
                    }
                }
                innerHtmlSen += `</tr>`
                innerHtmlLabel += `</tr>`
                return innerHtmlSen + innerHtmlLabel + `</table>`
            }
        })
    </script>
</body>

</html>